@model List<OderFoodOnline.Models.CartItem>
@{
    ViewBag.Title = "Payment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




@section slide{
    <section class="page-info new-block">
        <div class="fixed-bg" style="background: url('images/info-bg.jpg');"></div>
        <div class="overlay"></div>
        <div class="container">
            <h2>Domnoo menu</h2>
            <div class="clear-fix"></div>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item active"><a href="#">Menu</a></li>
            </ol>
        </div>
    </section>

}



<section class="shopping-cart new-block">
    <div class="container">
        @if (Model.Count > 0)
        {
            <div class="row">
                <div class="col-lg-12">
                    <div class="table-responsive">
                        <table class="table cart-tbl">
                            <thead>
                                <tr>


                                    <th class="p_dtl">Product Details</th>
                                    <th class="p_btn"></th>
                                    <th class="p_price">Price</th>
                                    <th class="p_quantity">Quantity</th>
                                    <th class="p_ttl">Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>

                                        <td class="p_dtl">
                                            <div class="block-stl9">
                                                <div class="img-holder">
                                                    <img src="@item.Product.Image" alt="" class="img-responsive">
                                                </div>
                                                <div class="info-block">
                                                    <h5>@item.Product.Name</h5>
                                                    <p class="txt-cat">Regular</p>
                                                    <p class="ab-txt-block">@item.Product.Description</p>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="p_btn">

                                            <a href="#" data-id="@item.Product.ID" id="btn-delete" class="btn1 stl3">Remove</a>
                                        </td>
                                        <td class="p_price">
                                            $ @item.Product.Price.GetValueOrDefault(0)
                                        </td>
                                        <td class="p_quantity">
                                            <div class="">
                                                <input type="text" class="txtQuantity" data-id="@item.Product.ID" value="@item.Quantity">
                                            </div>


                                        </td>
                                        <td class="p_ttl">
                                            $ @(@item.Product.Price.GetValueOrDefault(0) * item.Quantity)
                                        </td>
                                    </tr>
                                }


                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        }
        <h1>Total: </h1>
    </div>
    <div class="clearfix"></div>
</section>

<section class="loc-cop-sum  new-block">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="block-stl10">


                    @using(Html.BeginForm("Payment", "Cart", FormMethod.Post))
                    {

                        <div class="form-group">
                            <h3>Name: </h3>
                            <input type="text" name="shipName" class="form-control" placeholder="Your name here...">
                        </div>
                        <div class="form-group">
                            <h3>Phone number: </h3>
                            <input type="text" name="mobile" class="form-control" placeholder="Your phone number...">
                        </div>
                        <div class="form-group">
                            <h3>Address: </h3>
                            <input type="text" name="address" class="form-control" placeholder="Place Of Receipt...">
                        </div>
                        <div class="form-group">
                            <h3>Email: </h3>
                            <input type="text" name="email" class="form-control" placeholder="Your email here...">
                        </div>
                        @*<button type="submit" class="btn btn5">Apply</button>*@
                        <button type="submit" class="btn btn1 stl2">Apply</button>
                    }
                   
                </div>
            </div>
            @*<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="block-stl10">
                    <h3>discount coupons :</h3>
                    <p>Mauris nec semper justo, a accumsan est. Morbi massa libelementum.</p>
                    <form action="#">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="code type here..">
                        </div>
                        <button class="btn btn5">Apply</button>
                    </form>
                </div>
            </div>*@
            <div class="col-lg-4 col-md-4 col-xs-12">
                <div class="block-stl10 odr-summary">
                    <h3>order summary :</h3>
                    <ul class="list-unstyled">
                        <li><span class="ttl">Subtotal</span> <span class="stts"></span></li>
                        <li><span class="ttl">Shipping</span> <span class="stts">Free Shipping</span></li>
                        <li><span class="ttl">Vat Tax (20%)</span> <span class="stts">$10</span></li>
                        <li><span class="ttl">Apply Discount Coupon</span> <span class="stts"><del>$ </del></span></li>
                    </ul>
                    <div class="ttl-all">
                        <span class="ttlnm">Total</span>
                        <span class="odr-stts">$ </span>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</section>
