
@{
    ViewBag.Title = "Trang chủ";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var slides = (List<Model.EF.Slide>)ViewBag.Slides;
    var listNewFoods = (List<Model.EF.Product>)ViewBag.ListNewFoods;
    var listFeatureFoods = (List<Model.EF.Product>)ViewBag.ListFeatureFoods;
}
@section slide{
    <div class="banner slider1 new-block">
        <div class="fixed-bg" style="background: url('/Assets/Client/images/slider-bg1.jpg');"></div>
        <div class="slider owl-carousel owl-theme">
            @foreach (var item in slides)
            {
                <div class="item">
                    <div class="slider-block slide1 new-block">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <div class="text-block">
                                        <div class="img-block ab1" data-animation-in="bounceInDown" data-animation-out="animate-out fadeOutRight">
                                            <img src="@item.Image" alt="" class="img-responsive">
                                        </div>
                                        <h1 class="text-stl1" data-animation-in="lightSpeedIn" data-animation-out="animate-out fadeOutRight">buy get one free</h1>
                                        <div class="number-block" data-animation-in="fadeInUp" data-animation-out="animate-out fadeOutRight">
                                            <p class="text-stl2">@item.Description</p>
                                            <h2 class="text-stl3">+89 123 456 789</h2>
                                            <div class="text-center">
                                                <a href="@item.Link" class="btn1 stl2">About More</a>
                                                <a href="#" class="btn1 stl1">Add to Cart</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <div class="img-block img2">
                                        <div class="img-holder" data-animation-in="fadeInDown" data-animation-out="animate-out fadeOutRight">
                                            <img src="@item.Image" alt="" class="img-responsive">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- .slider-block -->
                </div>
            }

        </div>
    </div><!-- banner -->
}

<section class="cat-sec new-block">
    <div class="container-fluid pd0">
        <div class="cat-block">
            <div class="block-stl1 bg1">
                <span class="flaticon-pizza"></span>
                <h4>Pizza</h4>
            </div>
        </div>
        <div class="cat-block">
            <div class="block-stl1 bg2">
                <span class="flaticon-burger"></span>
                <h4>Burgers</h4>
            </div>
        </div>
        <div class="cat-block">
            <div class="block-stl1 bg3">
                <span class="flaticon-fried-chicken"></span>
                <h4>Chicken</h4>
            </div>
        </div>
        <div class="cat-block">
            <div class="block-stl1 bg4">
                <span class="flaticon-salad"></span>
                <h4>Salad</h4>
            </div>
        </div>
        <div class="cat-block">
            <div class="block-stl1 bg5">
                <span class="flaticon-french-fries"></span>
                <h4>Fries</h4>
            </div>
        </div>
        <div class="cat-block">
            <div class="block-stl1 bg6">
                <span class="flaticon-drink"></span>
                <h4>Drinks</h4>
            </div>
        </div>
        <div class="cat-block">
            <div class="block-stl1 bg7">
                <span class="flaticon-taco"></span>
                <h4>Taco</h4>
            </div>
        </div>
    </div>
</section>


<section class="special-offers-sec new-block">
    <div class="special-offer-inr-block new-block">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="title">
                        <p class="top-h">today special</p>
                        <h2>new foods</h2>
                        <div class="btm-style"><span><img src="~/Assets/Client/images/btm-style.png" alt="" class="img-responsive"></span></div>
                    </div>
                </div>
                <div class="col-lg-12 pd0">
                    <div class="special-offer-block ol_flr new-block">
                        <div class="ol_flr">
                            <div class="nav btn-filter-wrap">
                                   
                                </div>
                            <div>
                                <a href="/menu"><h4 style="color:black">All foods</h4></a>
                            </div>

                            <div class="clearfix"></div>
                            <div class="slider-flr" id="filter_itm1">
                                @foreach (var item in listNewFoods)
                                {
                                    // chi-tiet
                                    var url = "/product-single/" + item.MetaTitle + "-" + item.ID;
                                    <div class="js-filter-chicken">
                                        <div class="block-stl2">
                                            <div class="img-holder">
                                                <img src="@item.Image" alt="@item.Name" class="img-responsive">
                                            </div>
                                            <div class="text-block">
                                                <h3>@item.Name</h3>
                                                <p class="sz">Size : Regular</p>
                                                <p class="price"><span>$ @(item.Price.HasValue ? item.Price.Value.ToString("N0"): "Liên hệ")</span> <del>40% </del></p>
                                            </div>
                                            <div class="btn-sec">
                                                <a href="@url" class="btn4">About More</a>
                                                <a href="/add-cart?productId=@item.ID&quantity=1" class="btn1 stl2">Add to cart</a>
                                            </div>
                                        </div>
                                    </div>
                                }

                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



<section class="spl-offer new-block">
    <div class="container-fluid c-grid">
        <div class="row">
            <div class="grid1">
                <div class="block-stl3 stl1">
                    <div class="fixed-bg" style="background: url('/Assets/Client/images/img6.jpg');"></div>
                    <div class="img-holder">
                        <img src="~/Assets/Client/images/img6.png" alt="" class="img-responsive">
                    </div>
                    <div class="offer-block">
                        <p class="top-h">combo pack offer</p>
                        <h2>want something real & juicy ?</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ornare placerat tellus.</p>
                        <a href="shopping_cart.html" class="btn3">shop now</a>

                    </div>
                </div>
                <div class="c-grid2">
                    <div class="col1">
                        <div class="block-stl3 stl3">
                            <div class="img-holder">
                                <img src="~/Assets/Client/images/img7.png" alt="" class="img-responsive">
                            </div>
                            <div class="offer-block">
                                <h2>new arrivals</h2>
                                <p>Lorem ipsum dolor sit amconsetur adipiscing elit. Integer</p>
                                <a href="shopping_cart.html" class="btn3">shop now</a>

                            </div>
                        </div>
                    </div>
                    <div class="col2">
                        <div class="block-stl3 bg9 stl4">
                            <div class="img-holder">
                                <img src="~/Assets/Client/images/img8.png" alt="" class="img-responsive">
                            </div>
                            <div class="offer-block">
                                <h2>hot chicken</h2>
                                <p>An to our fun day.Lorem ipsum dolor sit aadipiscing elit</p>
                                <a href="shopping_cart.html" class="btn3">shop now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid2">
                <div class="block-stl3 stl2">
                    <div class="fixed-bg" style="background: url('/Assets/Client/images/img9.jpg');"></div>
                    <div class="img-holder">
                        <img src="~/Assets/Client/images/img9.png" alt="" class="img-responsive">
                    </div>
                    <div class="offer-block">
                        <p class="top-h">sunday offer</p>
                        <h2>wowooo combo pack special offer</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ornare.</p>
                        <a href="shopping_cart.html" class="btn3">shop now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@*<section class="deal-of-day new-block">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="title">
                        <p class="top-h">winter special offer</p>
                        <h2>deal of the day</h2>
                        <div class="btm-style"><span><img src="~/Assets/Client/images/btm-style.png" alt="" class="img-responsive"></span></div>
                        <p class="bottom-p">Lorem ipsum dolor sit amet consectetur adipiscing elit. <br>Curabitur erat turpis posuere ac ante at</p>
                    </div>
                </div>
                <div class="col-lg-12 text-center">
                    <div id="ofr_end"></div>
                </div>
                <div class="col-lg-12">
                    <div class="item-slider2 owl-carousel owl-theme">
                        <div class="item">
                            <div class="block-stl2">
                                <div class="img-holder">
                                    <img src="~/Assets/Client/images/img3.png" alt="" class="img-responsive">
                                </div>
                                <div class="text-block">
                                    <h3>Veggie Supreme</h3>
                                    <p class="sz">Size : Regular</p>
                                    <p class="price"><span>$6.00</span> <del>$8.00 40% off</del></p>
                                </div>
                                <div class="btn-sec">
                                    <a href="product_single.html" class="btn4">About More</a>
                                    <a href="shopping_cart.html" class="btn1 stl2">Add to Cart</a>
                                </div>
                                <span class="nonveg veg-nonveg"></span>
                            </div>
                        </div>
                        <div class="item">
                            <div class="block-stl2">
                                <div class="img-holder">
                                    <img src="~/Assets/Client/images/img4.png" alt="" class="img-responsive">
                                </div>
                                <div class="text-block">
                                    <h3>Veggie Supreme</h3>
                                    <p class="sz">Size : Regular</p>
                                    <p class="price"><span>$6.00</span> <del>$8.00 40% off</del></p>
                                </div>
                                <div class="btn-sec">
                                    <a href="product_single.html" class="btn4">About More</a>
                                    <a href="shopping_cart.html" class="btn1 stl2">Add to Cart</a>
                                </div>
                                <span class="veg veg-nonveg"></span>
                            </div>
                        </div>
                        <div class="item">
                            <div class="block-stl2">
                                <div class="img-holder">
                                    <img src="~/Assets/Client/images/img5.png" alt="" class="img-responsive">
                                </div>
                                <div class="text-block">
                                    <h3>Veggie Supreme</h3>
                                    <p class="sz">Size : Regular</p>
                                    <p class="price"><span>$6.00</span> <del>$8.00 40% off</del></p>
                                </div>
                                <div class="btn-sec">
                                    <a href="product_single.html" class="btn4">About More</a>
                                    <a href="shopping_cart.html" class="btn1 stl2">Add to Cart</a>
                                </div>
                                <span class="nonveg veg-nonveg"></span>
                            </div>
                        </div>
                        <div class="item">
                            <div class="block-stl2">
                                <div class="img-holder">
                                    <img src="~/Assets/Client/images/img.png" alt="" class="img-responsive">
                                </div>
                                <div class="text-block">
                                    <h3>Veggie Supreme</h3>
                                    <p class="sz">Size : Regular</p>
                                    <p class="price"><span>$6.00</span> <del>$8.00 40% off</del></p>
                                </div>
                                <div class="btn-sec">
                                    <a href="product_single.html" class="btn4">About More</a>
                                    <a href="shopping_cart.html" class="btn1 stl2">Add to Cart</a>
                                </div>
                                <span class="nonveg veg-nonveg"></span>
                            </div>
                        </div>
                        <div class="item">
                            <div class="block-stl2">
                                <div class="img-holder">
                                    <img src="~/Assets/Client/images/img5.png" alt="" class="img-responsive">
                                </div>
                                <div class="text-block">
                                    <h3>Veggie Supreme</h3>
                                    <p class="sz">Size : Regular</p>
                                    <p class="price"><span>$6.00</span> <del>$8.00 40% off</del></p>
                                </div>
                                <div class="btn-sec">
                                    <a href="product_single.html" class="btn4">About More</a>
                                    <a href="shopping_cart.html" class="btn1 stl2">Add to Cart</a>
                                </div>
                                <span class="veg veg-nonveg"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>*@


<section class="amezing-offers new-block">
    <div class="overlay"></div>
    <div class="fixed-bg parallax" style="background: url('/Assets/Client/images/bg1.png');"></div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="img-holder">
                    <img src="~/Assets/Client/images/pz1.png" alt="" class="img-responsive">
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="text-block-stl1">
                    <div class="title">
                        <p class="top-h">amazing offers online</p>
                        <h2>50% off pizzas online</h2>
                        <p class="bottom-p">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ornare placerat tellus sit amet ullamcorper.</p>
                        <a href="#" class="btn1 stl2">buy now</a>
                        <a href="#" class="btn1 stl1">about more</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="this-month new-block">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="title">
                    <p class="top-h">winter special offer</p>
                    <h2>feature foods</h2>
                    <div class="btm-style"><span><img src="~/Assets/Client/images/btm-style.png" alt="" class="img-responsive"></span></div>
                </div>
            </div>
            @foreach (var item in listFeatureFoods)
            {
                var url = "/product-single/" + item.MetaTitle + "-" + item.ID;
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="block-stl2">
                        <div class="img-holder">
                            <img src="@item.Image" alt="@item.Name" class="img-responsive">
                        </div>
                        <div class="text-block">
                            <h3>@item.Name</h3>
                            <p class="sz">Size : Regular</p>
                            <p class="price"><span>$ @(item.Price.HasValue ? item.Price.Value.ToString("N0"): "Liên hệ")</span> <del>$8.00 40% off</del></p>
                        </div>
                        <div class="btn-sec">
                            <a href="@url" class="btn4">About More</a>
                            <a href="/add-cart?productId=@item.ID&quantity=1" class="btn1 stl2">Add to Cart</a>
                        </div>
                        <span class="nonveg veg-nonveg"></span>
                    </div>
                </div>
            }
           
        </div>
    </div>
</section>

<section class="this-month-blog new-block">
    <div class="container-fluid no-gutter">
        <div class="row">
            <div class="col-lg-12">
                <div class="title">
                    <p class="top-h">this month</p>
                    <h2>Our blog</h2>
                    <div class="btm-style"><span><img src="~/Assets/Client/images/btm-style.png" alt="" class="img-responsive"></span></div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="blog-slider1 owl-theme owl-carousel">
                    <div class="item">
                        <div class="blog-stl1">
                            <div class="img-holder">
                                <img src="~/Assets/Client/images/boy.jpg" alt="" class="img-responsive" />
                                <div class="ovrl-block">
                                    <h3>Donec leo metus placerat quis lorem sed ultricies bibendum metus.</h3>
                                    <a href="blog_single.html" class="btn1 stl2">read more</a>
                                </div>
                                <ul class="blog-info-nav">
                                    <li><a href="#"><i class="flaticon-profile"></i>Shamiyo</a></li>
                                    <li><a href="#"><i class="flaticon-chat"></i>245 Coments</a></li>
                                    <li><a href="#"><i class="flaticon-calendar"></i>2/04/2017</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="blog-stl1">
                            <div class="img-holder">
                                <img src="~/Assets/Client/images/girl.jpg" alt="" class="img-responsive" />
                                <div class="ovrl-block">
                                    <h3>Donec leo metus placerat quis lorem sed ultricies bibendum metus.</h3>
                                    <a href="blog_single.html" class="btn1 stl2">read more</a>
                                </div>
                                <ul class="blog-info-nav">
                                    <li><a href="#"><i class="flaticon-profile"></i>Shamiyo</a></li>
                                    <li><a href="#"><i class="flaticon-chat"></i>245 Coments</a></li>
                                    <li><a href="#"><i class="flaticon-calendar"></i>2/04/2017</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="blog-stl1">
                            <div class="img-holder">
                                <img src="~/Assets/Client/images/girl1.jpg" alt="" class="img-responsive" />
                                <div class="ovrl-block">
                                    <h3>Donec leo metus placerat quis lorem sed ultricies bibendum metus.</h3>
                                    <a href="blog_single.html" class="btn1 stl2">read more</a>
                                </div>
                                <ul class="blog-info-nav">
                                    <li><a href="#"><i class="flaticon-profile"></i>Shamiyo</a></li>
                                    <li><a href="#"><i class="flaticon-chat"></i>245 Coments</a></li>
                                    <li><a href="#"><i class="flaticon-calendar"></i>2/04/2017</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="blog-stl1">
                            <div class="img-holder">
                                <img src="~/Assets/Client/images/girl2.jpg" alt="" class="img-responsive" />
                                <div class="ovrl-block">
                                    <h3>Donec leo metus placerat quis lorem sed ultricies bibendum metus.</h3>
                                    <a href="blog_single.html" class="btn1 stl2">read more</a>
                                </div>
                                <ul class="blog-info-nav">
                                    <li><a href="#"><i class="flaticon-profile"></i>Shamiyo</a></li>
                                    <li><a href="#"><i class="flaticon-chat"></i>245 Coments</a></li>
                                    <li><a href="#"><i class="flaticon-calendar"></i>2/04/2017</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

