@model Model.EF.Product
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var category = (Model.EF.ProductCategory)ViewBag.Category;
    var relatedProducts = (List<Model.EF.Product>)ViewBag.RelatedFoods;
}
@section slide{
    <section class="page-info new-block">
        <div class="fixed-bg" style="background: url('images/info-bg.jpg');"></div>
        <div class="overlay"></div>
        <div class="container">
            <h2>Domnoo menu</h2>
            <div class="clear-fix"></div>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item active"><a href="/products/@category.MetaTitle-@category.ID">@category.Name</a></li>
            </ol>
        </div>
    </section>
}


<section class="about-product new-block">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="img-holder">
                    <img src="@Model.Image" alt="" class="img-responsive">
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="block-stl6">
                    <h2>@Model.Name <span class="veg veg-nonveg"></span></h2>
                    <p class="price"><span>$ @(Model.Price.HasValue? Model.Price.Value.ToString("N0") : "Liên hệ")</span> <small><del>$8.00</del> 40% off</small> </p>
                    <p class="rating-star"><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="far fa-star"></i> <i class="far fa-star"></i> <span>( 245 Ratings & 355 Reviews )</span> </p>
                    <p class="ab-txt">@Model.Description</p>
                    <form action="#">
                        <div class="form-block">
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <div class="form-group">
                                        <label>Size :</label>
                                        <select class="c_select">
                                            <option value="">Large</option>
                                            <option value="">Medium</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <div class="form-group">
                                        <label>Add toppings :</label>
                                        <select class="c_select">
                                            <option value="">Veggies</option>
                                            <option value="">Medium</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <div class="form-group">
                                        <label>Crust :</label>
                                        <select class="c_select">
                                            <option value="">Pan</option>
                                            <option value="">Medium</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <div class="form-group">
                                        <label>Quantity :</label>
                                        <select class="c_select">
                                            <option value="">01</option>
                                            <option value="">02</option>
                                            <option value="">03</option>
                                            <option value="">04</option>
                                            <option value="">05</option>
                                            <option value="">06</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <div class="form-group btn-block">
                                        <a href="#" class="btn1 stl2">buy now</a>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <div class="form-group btn-block">
                                        <a href="#" class="btn1 stl1">Add to Cart</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</section>

<div class="center-wrapper new-block">
    <div class="fixed-bg parallax" style="background: url('images/ptrn1.jpg');"></div>
    <div class="overlay"></div>
    <div class="inner-wrapper">
        <section class="about-product-block new-block">
            <div class="container">
                <div class="block-stl7">
                    <h4>Detail :</h4>
                    <p>@Html.Raw(Model.Detail)</p>

                </div>
                <div class="review-slider">
                    <div class="review_slider owl-carousel owl-theme">
                        <div class="item">
                            <div class="block-stl8">
                                <div class="img-holder">
                                    <img src="images/r_img1.png" alt="" class="img-responsive">
                                </div>
                                <div class="txt-block">
                                    <i class="flaticon-left-quote"></i>
                                    <p>Lorem ipsum dolor sit amet consectetur adipiscing elit. Curabitur erat turpis posuere ac ante at</p>
                                    <h5>Veggie Supreme</h5>
                                    <i class="flaticon-right-quotation-sign"></i>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="block-stl8">
                                <div class="img-holder">
                                    <img src="images/r_img2.png" alt="" class="img-responsive">
                                </div>
                                <div class="txt-block">
                                    <i class="flaticon-left-quote"></i>
                                    <p>Lorem ipsum dolor sit amet consectetur adipiscing elit. Curabitur erat turpis posuere ac ante at</p>
                                    <h5>Veggie Supreme</h5>
                                    <i class="flaticon-right-quotation-sign"></i>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="block-stl8">
                                <div class="img-holder">
                                    <img src="images/r_img3.png" alt="" class="img-responsive">
                                </div>
                                <div class="txt-block">
                                    <i class="flaticon-left-quote"></i>
                                    <p>Lorem ipsum dolor sit amet consectetur adipiscing elit. Curabitur erat turpis posuere ac ante at</p>
                                    <h5>Veggie Supreme</h5>
                                    <i class="flaticon-right-quotation-sign"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="related-products new-block">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="title">
                            <p class="top-h">winter special offer</p>
                            <h2>related products</h2>
                            <div class="btm-style"><span><img src="images/btm-style.png" alt="" class="img-responsive"></span></div>
                            <p class="bottom-p">Lorem ipsum dolor sit amet consectetur adipiscing elit. <br>Curabitur erat turpis posuere ac ante at</p>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="item-slider2 owl-carousel owl-theme">
                            @foreach (var item in relatedProducts)
                            {
                                var url = "/product-single/" + item.MetaTitle + "-" + item.ID;
                                <div class="item">
                                    <div class="block-stl2">
                                        <div class="img-holder">
                                            <img src="@item.Image" alt="" class="img-responsive">
                                        </div>
                                        <div class="text-block">
                                            <h3>@item.Name</h3>
                                            <p class="sz">Size : Regular</p>
                                            <p class="price"><span>$ @(item.Price.HasValue ? item.Price.Value.ToString("N0"): "Liên hệ")</span> <del>$8.00 40% off</del></p>
                                        </div>
                                        <div class="btn-sec">
                                            <a href="@url" class="btn4">About More</a>
                                            <a href="@url" class="btn4">Add to Cart</a>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </section>


    </div>
</div>

